<!-- <form #toDoForm="ngForm" (ngSubmit)="addStudent(studentForm)"> 
    <input type="text" name="filteryourtodo" ngModel>
    <input type="text" name="enteryourtodo" ngModel>
    <button>Add</button>
  </form> -->

<section class="myList">
    <h1>TODO List</h1>
    <p>A place to store the things you have to do</p>    
    <ol>
        <li *ngFor="let todo of todoList">
          <button *ngIf="!todo.completed">Complete</button>
          {{todo.task}}
          <span>X</span> 
          
        </li>
    </ol>
  </section>